# user-facing requirements, these need to be declared in setup.py install_requires
jsonschema==4.23
pyyaml

# developer requirements for running tests
flake8
nose
pytest

# developer requirements to generate documentation
sphinx

# for building wheels to post on pypi
wheel

setuptools>=65.5.1
